<header>

  <div class="container">

    <div class="row">

      <div class="col-sm-12 col-md-12 col-12">

        <!--Não montei uma imagem como logo, pois estou sem photoshop e meu pc é ubuntu -->
        <div class="logo">

          <i class="fa fa-university" aria-hidden="true"></i>
          <h2 class="title-logo">
            Banco do povo
            <small>
              Segurança e dedicação totalmente para você
            </small>
          </h2>

        </div>

      </div>

    </div>

  </div>

</header>

<div class="content">

  <app-conta></app-conta>

</div>

<footer>
    <span>Todos os direitos reservados &copy; Banco do povo</span>
</footer>
